.navbar-brand {
    font-size: 20px;
}

.header {
    background: cyan;
}
.cover-card {
    background: blue;
    border-radius: 30px;
}

.footer{
    width: 100%;
    background: aqua;
   
 
 
    position: absolute;
    bottom: 0;
}

.footer_text {
    text-align: center;
    margin-top: 15px;
    color:black;
}

@media (max-width: 425px) {
    .footer {
        position: relative;
        bottom: 0px;
        font-size: 14px;
        height: 50px;
    }

    .footer_text {
        padding-top: 18px;
    }

    #updateDate {
        font-size: 12px;
    }

    .card-hijau {
        margin: 30px 0;
    }
}