body {
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.navbar-brand {
    font-size: 20px;
}

.header {
    color: white;
    
}

.navbar-brand, .navbar-text {
    font-size: 25px
}

.text-heading {
    color: white;
}

.cover-card {
    background: blue;
    border-radius: 30px;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}


.footer_text {
    text-align: center;
    margin-top: 15px;
    color: white;
}

#updateDate{
    color: white;
    font-size: 15px;
}

@media (max-width: 425px) {
    .footer {
        position: relative;
        bottom: 0px;
        font-size: 14px;
        height: 50px;
    }

    .footer_text {
        padding-top: 18px;
    }

    #updateDate {
        font-size: 12px;
    }

    .card-hijau {
        margin: 30px 0;
    }

    .navbar-brand, .navbar-text {
        font-size: 20px
    }
}